@model Umbraco.Headless.Client.Net.Delivery.Models.IContent
@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<LordLamington.Core.Interfaces.IGenericPage>
    @{
        var localeSettings = Model.Root().AncestorOrSelf<Home>();
    }*@
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
    <meta charset="utf-8" />
    @*<title>@string.Format(Umbraco.GetDictionaryValue("Master.PageTitleFormat"), Model.Title)</title>*@
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Lord Lamington" />
    <meta name="keywords" content="Lord Lamington" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />

    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon2.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/fullpage.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_VII.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive_VII.css" />

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="demo-3">

    <div id="preloader">
        <div id="status">
            <img src="/images/loader.gif" id="preloader_image" alt="loader">
        </div>
    </div>

    @{
        var wrapperClass = Model.ContentTypeAlias == "home" ? "ck_top_header_main_section_wrapper" : null;
    }
    <div class="@wrapperClass float_left">
        @await Component.InvokeAsync("MainNavigation")

        @RenderSection("TopNavInsert", false)

    </div>

    @RenderBody()

    <div class="ck_call_main_wrapper float_left">
        <div class="container">
            <div class="ck_cll_left_wrapper">
                <div class="ck_cll_icon align-self-center">
                    <i class="flaticon-phone-contact"></i>
                    @*<h4>@Umbraco.GetDictionaryValue("Master.CallUs")</h4>*@
                    @*<p>@localeSettings.LocalePhoneNumber</p>*@
                </div>
                <div class="ck_cll_img">
                    <img src="/images/lam-plate.png" alt="img">
                </div>
            </div>
            <div class="ck_cll_right_wrapper">
                <div class="cl_cll_form">
                    @*<input type="text" placeholder="@Umbraco.GetDictionaryValue("Master.YourEmailPlaceholder")" autocomplete="off">
                        <button>@Umbraco.GetDictionaryValue("Master.Subscribe")</button>*@
                </div>
            </div>
        </div>
    </div>

    <div class="section2_bottom_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="btm_foter_box">
                        <p>
                            @*@string.Format(Umbraco.GetDictionaryValue("Master.CopyrightStatement"), DateTime.Now.Year)*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade st_pop_form_wrapper" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper float_left">
                    <h3>Log in</h3>
                </div>
                <div class="st_profile_input float_left">
                    <input type="text" placeholder="Email / Mobile Number">
                </div>
                <div class="st_profile_input st_profile__pass_input_pop float_left">
                    <input type="password" placeholder="Password">
                </div>
                <div class="st_form_pop_fp float_left">
                    <h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
                </div>
                <div class="st_form_pop_login_btn float_left">
                    <a href="#">LOGIN</a>
                </div>
                <div class="st_form_pop_or_btn float_left">
                    <h4>or</h4>
                </div>
                <div class="st_form_pop_facebook_btn float_left">
                    <a href="#"><i class="fab fa-facebook-f"></i> Connect with Facebook</a>
                </div>
                <div class="st_form_pop_gmail_btn float_left">
                    <a href="#"><i class="fab fa-google-plus-g"></i> Connect with Google</a>
                </div>
                <div class="st_form_pop_signin_btn float_left">
                    <h4>Don’t have an account? <a href="#" data-toggle="modal" data-target="#myModa3" target="_blank">Sign Up</a></h4>
                    <h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
                    <h3>Forgot Password</h3>
                    <p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
                </div>
                <div class="st_profile_input st_profile_input_very float_left">
                    <input type="text" placeholder="Email / Mobile Number">
                </div>
                <div class="st_form_pop_fpass_btn float_left">
                    <a href="#">Verify</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade st_pop_form_wrapper" id="myModa3" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper float_left">
                    <h3>Sign Up</h3>
                </div>
                <div class="st_profile_input float_left">
                    <input type="text" placeholder="Email / Mobile Number">
                </div>
                <div class="st_profile_input st_profile__pass_input_pop float_left">
                    <input type="password" placeholder="Password">
                </div>
                <div class="st_form_pop_fp float_left">
                    <h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
                </div>
                <div class="st_form_pop_login_btn float_left">
                    <a href="#">LOGIN</a>
                </div>
                <div class="st_form_pop_or_btn float_left">
                    <h4>or</h4>
                </div>
                <div class="st_form_pop_facebook_btn float_left">
                    <a href="#"><i class="fab fa-facebook-f"></i> Connect with Facebook</a>
                </div>
                <div class="st_form_pop_gmail_btn float_left">
                    <a href="#"><i class="fab fa-google-plus-g"></i> Connect with Google</a>
                </div>
                <div class="st_form_pop_signin_btn st_form_pop_signin_btn_signup float_left">
                    <h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/fullpage.min.js"></script>
    <script src="/js/scrolloverflow.js"></script>
    <script src="/js/demo3.js"></script>
    <script src="/js/easings.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/custom_VII.js"></script>

</body>

</html>